<form class="w-100" (submit)="vote()">
    <div class="form-row justify-content-center">
        <label for="campaignNameLabel" class="col-2">Campaign:</label>
        <label id="campaignNameLabel" class="col-3">{{campaign.campaignName}}</label>
    </div>
    <div class="form-row justify-content-center">
        <label for="startDateLabel" class="col-2">Start Date:</label>
        <label id="startDateLabel" class="col-3">
            {{campaign.startDate | date:"dd/MM/yyyy HH:mm:ss"}}
        </label>
    </div>
    <div class="form-row justify-content-center">
        <label for="endDateLabel" class="col-2">End Date:</label>
        <label id="endDateLabel" class="col-3">
            {{campaign.endDate | date:"dd/MM/yyyy HH:mm:ss"}}
        </label>
    </div>

    <div class="alert alert-dark text-center" [hidden]="status==null">{{status}}</div>
    <div class="form-row justify-content-center">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th class="w-25 text-center">Place</th>
                    <th class="w-50">User</th>
                    <th class="w-25 text-center">Votes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leader of leaders">
                    <td class="text-center">{{leader.place}}</td>
                    <td>{{leader.username}}</td>
                    <td class="text-center">{{leader.votes}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-row justify-content-center">
        <label for="userVoteInput" class="col-2">Your Vote:</label>
        <div class="col-3">
            <input id="userVoteInput" type="text" class="form-control" name="vote"
               [disabled]="status!=null" [(ngModel)]="userVote"/>
        </div>
    </div>
    <div class="form-row justify-content-around">
        <input type="submit" class="btn btn-primary" value="Vote!" [disabled]="status!=null"/>
        <input type="button" class="btn btn-secondary" value="Back"
           (click)="router.navigateByUrl('/campaigns')"/>
    </div>
    <div class="alert alert-danger" [hidden]="!failed">
        There was an error when trying to vote. Please try again.
    </div>
</form>